{% load i18n %}
{% load comments_tags %}
<!-- Comments widget -->

{% get_comments_list for content_object as comments_list %}
{% get_comments_count for content_object as comments_count %}

{% if comments_count %}
    {% blocktrans with count=comments_count %}Comments ({{ count }}){% endblocktrans %}
    <ul>
    {% for comment in comments_list %}
    <li>
        
    </li>
    {% endfor %}
    </ul>
{% else %}
    {% blocktrans %}Comments{% endblocktrans %}
    {% blocktrans %}There are no comments yet.{% endblocktrans %}
{% endif %}

<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        <input class="btn btn-info" type="submit" name="preview" value="{% trans 'Preview' %}">
        <input class="btn btn-success" type="submit" name="send" value="{% trans 'Send comment' %}">
    </p>
</form>
<!-- End of comments widget -->