{% load i18n comments_tags %}
{% if comments_enabled %}
    <h1>Insert comments for object {{ object }}</h1>
    <hr />

    {% get_comments_list for object as comments %}
    <ul id="comments">
        {% for comment in comments %}
            {% include "comments/item.html" %}
        {% endfor %}
    </ul>
    <h2>{% trans "Post new comment" %}</h2>
    <div id="form-placeholder">
        {% include "comments/form.html" %}
    </div>
    <script type="text/javascript"{# src="{{ MEDIA_URL }}comments/js/comments.js" #}>
var CommentsHandler = function(){
    var defaultFormAction;
    var formPostComment = $('#form-post-comment');
    var formPlaceholder = $('#form-placeholder');
    var commentsList = $('#comments');

    var insertComment = function(html, comment_id, parent_id) {
        if (parent_id) {
            console.log('parent_id = '+parent_id)
            var parent = $('#comment-'+parent_id);
            var parentTree  = parent.attr('class').replace(/^.*?tree-(\d+).*?$/g,  '$1');
            var parentLevel = parent.attr('class').replace(/^.*?level-(\d+).*?$/g, '$1');
            var selector = '#comments li.tree-'+parentTree+'.level-'+(parseInt(parentLevel)+1)+':last';

            $(selector).after(html);

        } else {
            commentsList.append(html);
        }
        window.location.hash = 'comment-'+comment_id;
    }

    var setHandlers = function(){
        defaultFormAction = formPostComment.attr('action');

        $('#comments li a.button-reply').live('click', function(){
            var link  = $(this);
            var comment = link.closest('li');
            comment.append(formPostComment);
            formPostComment.attr('action', link.attr('href'));
            formPostComment.find('textarea').focus();
            return false;
        });

        formPostComment.submit(function(e){
            $('ul.errorlist', formPostComment).remove();
            $.post(
                formPostComment.attr('action'),
                formPostComment.serialize(),
                function(json){
                    if (json.success) {
                        insertComment(json.comment, json.comment_id, json.parent_id);
                        formPostComment.attr(defaultFormAction);
                        formPostComment.find('textarea').val('');
                        formPlaceholder.append(formPostComment);
                    } else {
                        for (var e in json.errors) {
                            $('#id_'+e, formPostComment).closest('li')
                                .prepend(json.errors[e]);
                        }
                    }
                },
                'json'
            );
            return false;
        });
    }

    return {
        init: function(){
            setHandlers();
        }
    }
}
    </script>
    <script type="text/javascript">CommentsHandler().init();</script>
{% else %}
    <h1>{% trans "Commenting is disabled" %}</h1>
{% endif %}
